<div class="task-card">

  <div class="task-left">

    <input
      type="checkbox"
      class="task-checkbox"
      [checked]="completed"
      (change)="toggle($event)"
    />

    <div class="task-info">

      <div class="task-title">
        {{task.title}}
      </div>

      <div class="task-meta">
        {{task.topic}}
      </div>

    </div>

  </div>

  <div class="task-right">

    <span
      class="badge"
      [ngClass]="{
        'difficulty-easy': task.difficulty==='Easy',
        'difficulty-medium': task.difficulty==='Medium',
        'difficulty-hard': task.difficulty==='Hard'
      }"
    >
      {{task.difficulty}}
    </span>

    <span class="topic-pill">
      {{task.topic}}
    </span>

  </div>

</div>